* {
  font-family: "Martel Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  background: url("./assets/6313772.jpg") no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

button,
li {
  cursor: pointer;
}

.m-0 {
  margin: 0;
}
.white {
  color: white;
}
.text-center {
  text-align: center;
}
.transition {
  transition: 0.5s;
}
.transition:hover {
  transition: 0.5s;
}
.h-black:hover {
  color: black;
}
.flex-end {
  display: flex;
  justify-content: end;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.bg-inherit {
  background-color: inherit;
  backdrop-filter: inherit;
}
